
    <%= form_with(model: @comment, local: true) do |f| %>  
 
        <% if @comment.errors.any? %>
            <div id = 'error_explanation'>
            <h2><%= pluralize(exhibition.errors.count, "Error.") %>No es posible crear comentario debido a:</h2>
                <ul>
                    <% @comment.errors.full_messages.each do |msg|%>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= f.hidden_field :exhibition_id, value: exhibition.id %>

        <div class="my-2 w-100 ">
            <div class="field my-2 ">
                <%= f.label :context, "Comenta este artículo", class: "col-12" %>
                <br>
                <%= f.text_area :context, required: true, class: "ps-2 w-100 border border-2 rounded-2 border-secondary-subtle", rows: 3 %>
            </div>
        </div>
        <div class = "actions">
             <%= f.submit "Comentar", class: "btn btn-primary my-0" %>
        </div>
    <% end %>
